

<html>
    <head>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="/css/header.css" type="text/css"/>
        <link rel='stylesheet' href='/dist/css/bootstrap.css' type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <!-- Row -->
            <div class="">
                <div class="col-xl-12 pa-0">
                      {{>header}}
                    <div id="map-container" class="container mt-sm-60 mt-30" style="height: 100%; margin: auto;">
                       
        
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>
        
    </body>
    <footer>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
        <script src='/js/main.js'></script>
    </footer>
</html>


